*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.control{
	width: 400px;
	height: 40px;
	border-radius: 10px;
	padding: 10px;
}

.formarea{
	position: absolute;
	margin-left: 500px;
	margin-top: 100px;
}